<h1>Ingrese usuario</h1><br>

<form action="/login" method="post">
    <h2 style="font-size: 7mm;">User:</h2>
    <br><input type="text" name="name"><br>
    <br>
    <h2 style="font-size: 7mm;">Password:</h2>
    <br><input type="text" name="pwd"><br>
    <br><button type="submit">Login</button><br>
</form>
<hr>
<a href="/register"><input type="button" value="Registro"></a>
